@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    transition: background-color 0.2s ease, border-color 0.2s ease;
  }
  
  body {
    @apply bg-slate-50 dark:bg-slate-900 text-slate-900 dark:text-slate-100;
  }
}

/* Custom Scrollbar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
