name: Build and Test

on:
    push:
        branches: [ "main", "auto" ]
    pull_request:
        branches: [ "main" ]

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            checks: write
            pull-requests: write

        steps:
            -   uses: actions/checkout@v4

            -   name: Set up JDK 25
                uses: actions/setup-java@v4
                with:
                    java-version: '25'
                    distribution: 'temurin'

            -   name: Setup Gradle
                uses: gradle/actions/setup-gradle@v3

            -   name: Run Tests
                run: ./gradlew test

            -   name: Setup Node
                uses: actions/setup-node@v4
                if: always()

            -   name: Generate CTRF Report
                run: npx ctrf junit build/test-results/test/**/*.xml
                if: always()

            -   name: Publish Test Report
                uses: ctrf-io/github-test-reporter@v1
                with:
                    report-path: 'ctrf-report.json'
                if: always()
